.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 20vh;
  left: 5%;
  width: 75%;
  background-color: #1b4a30;
  color: #ffffff;  padding: 1rem;
  border-radius: 14px;
  box-shadow: 37.56488800048828px 43.496185302734375px 197.70993041992188px 1.9770992994308472px #112117D9;
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-50rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}